# Node / React
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp
*~
